'.htl.aem':
  'HTL variable':
    'prefix': '$'
    'body': '${$1}$0'

  'HTL comment':
    'prefix': '<!--'
    'body': '<!--/* $1 */-->$0'
    'description': 'The content of this comment will be removed from the output.'
    'descriptionMoreURL': 'https://github.com/Adobe-Marketing-Cloud/htl-spec/blob/master/SPECIFICATION.md#119-comments'

  'sly element with attribute':
    'prefix': 'sly'
    'body': '<sly data-sly-$0'

  'New component with call to template file':
    'prefix': 'component'
    'body': '<sly data-sly-use.component="$1template.html"\n\t\tdata-sly-call="\${component.$2template @ properties=properties$3}" />$0'
    'descriptionMoreURL': 'https://gist.github.com/kevinweber/954fa85a71d91a85d4e0839b2616d759'

  'New template':
    'prefix': 'template'
    'body': '<template data-sly-template.template="\${@ properties$1}">$2</template>$0'
    'descriptionMoreURL': 'https://gist.github.com/kevinweber/954fa85a71d91a85d4e0839b2616d759'

# Don't show/allow snippets in tags
'.htl.aem .meta.tag':
  'HTL comment':
    'prefix': '<!--'
  'div element with attribute':
    'prefix': 'div'
  'sly element with attribute':
    'prefix': 'sly'
  'New component with call to template file':
    'prefix': 'component'
  'New template':
    'prefix': 'template'

# HTL expression options
'.htl.aem .meta.tag .string.quoted':
  '@ context':
    'prefix': '@ c'
    'body': '@ context=\'$0\''

  '@ domain':
    'prefix': '@ d'
    'body': '@ domain=\'$0\''

  '@ extension':
    'prefix': '@ e'
    'body': '@ extension=\'$0\''

  '@ format':
    'prefix': '@ f'
    'body': '@ format=$0'

  '@ fragment':
    'prefix': '@ fr'
    'body': '@ fragment=\'$0\''

  '@ i18n':
    'prefix': '@ i'
    'body': '@ i18n$0'

  '@ join':
    'prefix': '@ j'
    'body': '@ join=\'$0\''

  '@ path':
    'prefix': '@ p'
    'body': '@ path=\'$0\''

  '@ query':
    'prefix': '@ q'
    'body': '@ query=\'$0\''

  '@ scheme':
    'prefix': '@ sc'
    'body': '@ scheme=\'$0\''

  '@ selectors':
    'prefix': '@ se'
    'body': '@ selectors=\'$0\''

  '@ suffix':
    'prefix': '@ su'
    'body': '@ suffix=\'$0\''
